.popup__container {
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  width: 430px;
  height: 330px;
  /* почему не фиксированные параметры?
   Иначе придется писать больше кода ради абсолютно идентичного результата*/
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (max-width: 499px) {
  .popup__container {
    width: calc(100% - 40px);
    height: 270px;
  }
}