@import url(./__avatar/profile__avatar.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__info/profile__info.css);
@import url(./__edit/profile__edit.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);

.profile {
  width: 882px;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 1023px) {
  .profile {
    width: 710px;
    flex-direction: column;
    align-items: center;
    margin: 0 0 50px;
  }
}