.popup__field {
  width: 358px;
  height: 9%;
  margin: 0 0 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__field:last-of-type {
  margin-bottom: 48px;
}

.popup__field:focus {
  outline: none;
}

@media (max-width: 499px) {
  .popup__field {
    width: 80%;
    margin: 0 0 20px;
  }

  .popup__field:last-of-type {
    margin-bottom: 35px;
  }  
}